.wrapper .text {
  color: #000;
  font-size: 50px;
  font-weight: bolder;
  text-shadow: 10px 10px 10px#000;
  position: relative;
}

.text.active {
  animation: turn_on_highlight 5s linear forwards;
}

/*.text::after,
.text::before {
  content: "";
  display: block;
  width: 3px;
  height: 200px;
  background: rgb(128, 128, 128);
  position: absolute;
  box-shadow: 7px 10px 7px #000;
}

.text::after {
  right: 5px;
  top: -175px;
}
.text::before {
  left: 5px;
  top: -175px;
}*/

.wrapper .text:hover {
  /* animation: neon 20s ease-in-out infinite alternate; */
  text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
    0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b,
    10px 10px 10px #000;
}

@keyframes neon {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ffdd1b,
      0 0 70px #ffdd1b, 0 0 80px #ffdd1b, 0 0 100px #ffdd1b, 0 0 150px #ffdd1b,
      10px 10px 10px #000;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ffdd1b,
      0 0 35px #ffdd1b, 0 0 40px #ffdd1b, 0 0 50px #ffdd1b, 0 0 75px #ffdd1b,
      10px 10px 10px #000;
  }
}

@keyframes turn_on_highlight {
  0%,
  12%,
  18.999%,
  23%,
  31.999%,
  37%,
  44.999%,
  46%,
  49.999%,
  51%,
  58.999%,
  61%,
  68.999%,
  71%,
  85.999%,
  96%,
  100% {
    color: white;
    text-shadow: 10px 10px 10px #000, 0 0 10px #fff, 0 0 20px #fff,
      0 0 30px #fff, 0 0 40px #ffdd1b, 0 0 70px #ffdd1b, 0 0 80px #ffdd1b,
      0 0 100px #ffdd1b, 0 0 150px #ffdd1b;
  }
  19%,
  22.99%,
  32%,
  36.999%,
  45%,
  45.999%,
  50%,
  50.99%,
  59%,
  60.999%,
  69%,
  70.999%,
  86%,
  95.999% {
    text-shadow: 10px 10px 5px #000;
    color: black;
  }
}
